.open
{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding-bottom: 5%;
    align-self: left;
    text-align: left;
    font-family: "Century Gothic", 'Lato', sans-serif;

}
.open h1{
    font-size: 5rem;
    color: white;
    margin:0;
}
.open p{

    margin:0;

}
.info
{
    color: #87b4ab;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}
