#Home
{
    display: flex;
    flex-direction: column;
    

}

.Infos
{
    display: flex;
    flex-direction: column;

}
.Infos .Intro
{
    padding-bottom: 5%;
}
.Infos .grid
{
    display: flex;
    flex-direction: row;

}
.bg
{
   position: fixed;
   top: 0;
   left: 0;
   opacity: .2;
   z-index: -1;
}
