#Home {
	display: flex;
	flex-direction: column;
}

.Infos {
	display: flex;
	flex-direction: column;
}
.Infos .Intro {
	padding-bottom: 5%;
}
.Infos .grid {
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50vh;
	align-self: center;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.bg {
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.2;
	z-index: -1;
}
