#project {
	display: flex;

}
.frames {

	width: 100%;
	height: 100vh;

}
.frames a{
	text-align: left;
	color: #87b4ab;
	text-decoration: none;
	font-family: "Century Gothic", "Lato", sans-serif;
}
.frames p
{
	text-align: left;
	color: white;
}
.frame .info
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: max-content;
	width: 30%;

	background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
}


.frame {
	display: flex;
	max-width: 100%;
	padding-left: 10%;
	padding-right: 5%;
	padding-bottom: 5%;
	justify-content: space-between;

}
.frames h1 {
	width: 100%;
	text-align: left;

	color: white;

	font-family: "Century Gothic", "Lato", sans-serif;
}
iframe {
	width: 55vw;
	height: 55vh;

	}
	@media screen and (max-width: 800px) {
	.frames {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

	}
	.frame {

		display: flex;
		max-width: 100%;
		padding-left: 10%;
		padding-right: 5%;
		padding-bottom: 5%;
	justify-content: space-between;

	}
	.frame .info
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;


	background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
}
	iframe {
		width: 50vw;
		height: 100%;

	}
}
